<ion-header>
  <ion-toolbar color="transparent" >
    <ion-title >
      <ion-img src="../../assets/blubirch.png"></ion-img>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <h2>Registration Page</h2>
    <ion-input label="Name* " label-placement="floating" fill="outline" placeholder="Name" [(ngModel)]="registerObj.Name" >  
    </ion-input><br>
    <ion-input label="Email* " label-placement="floating" fill="outline" placeholder="Email" [(ngModel)]="registerObj.Email" >  
    </ion-input><br> 
    <ion-input label="Password* " label-placement="floating" fill="outline" placeholder="Password" [(ngModel)]="registerObj.Password" >  
    </ion-input><br>
    <ion-input label="Conform Password*" label-placement="floating" fill="outline" placeholder="Conform-password" [(ngModel)]="registerObj.ConformPassword" >  
    </ion-input><br>
    <ion-button (click)="onRegister()">Register</ion-button>
    <ion-button routerLink="/login">Login</ion-button>
  </div>
</ion-content>

