<ion-header>
  <ion-toolbar color="transparent" >
    <ion-title >
      <ion-img src="../../assets/blubirch.png"></ion-img>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id="container">
  <swiper-container #swiperEx
   intial-slide="0"
   [navigation]="true"
   [pagination]="{type: 'bullets', clickable:true}"
   [autoplay]="true"
   [slidesPerView]="1"
   [loop]="true"
   [centeredSlides]="true"
   >

   <swiper-slide *ngFor="let img of swiper_images">
     <div style="background-image: url({{img}}); background-size: cover; 
       width: 100%; height: 100%;">
     </div>
   </swiper-slide>
  </swiper-container>
</ion-content>


